
{% extends 'main.html' %}
{% load static %}

{% block filters %}{% endblock filters %}
{% block title %}ПРОФИЛЬ{% endblock title %}
{% block content %}
    <div class="account-info">
        <div class="account-info__logo">
            <img class="account-info__avatar" src="{{account.photo.url}}" alt="" srcset="">
            <div>
                <p class="account-info__social-credits"><span>{{account.rank}}</span> КРЕДИТОВ</p>
                <p class="account-info__score"><a href="/rating/"><img src="{% static 'img/cup.png' %}">{{account.score}} место</a></p>
            </div>
        </div>
        <div class="account-info__info">
            <div class="account-info__name">{{account.name}}</div>
            <div class="account-info__descrption">{{account.description}}</div>
            <div class="account-info__email">
                <span>Контактные данные:</span><br>
                {{account.email}}
            </div>
            
        </div>
        <div class="account-timetable-block"> <!-- Здеся надо просто навести красоты -->
            {% for onegroup in account.group.all %}
                
                {% for lesson in onegroup.timetable.all %}
                    <div class="timetable_block">
                         <div class="account-timetable"> {{lesson.classroom}} </div>
                         <div class="account-timetable"> {{lesson.time}} </div>
                    </div>
                    <br>
                {% endfor %}
                
                
            {% endfor %}
        </div>
        
    </div>
    <div class="proj_title">Проекты ученика</div> <!-- Здеся надо просто навести красоты -->
            <div class="infoblock" id="id01">
                
                {% for project in account.projects.all %}
                    <div onclick="location.href='{% url 'project' project.id %}';" class="main_block">
                        <h2>{{project.name}}</h2>
                        <img src="{{project.face.image.url}}" alt="{{project.name}}" srcset="">
                    </div>
                {% endfor %}
            </div>
    <div class="main-block">
    <br>
    <br>
    <br>
    </div>
    {% endblock content %}
    {% block script %}<script src="{% static 'js/account.js' %}"></script>{% endblock script %}